package views

import (
    "github.com/NormoBoat/shortlink/internal/views/templates/layout"
    "github.com/NormoBoat/shortlink/internal/views/templates/components"
)


templ Links(){

    @layout.Header("Links"){
        @components.Formfield()
        @components.Formfield()
        @components.Formfield()
        @components.Formfield()
        @components.Formfield()
    }
}

